body {
    background-color: rgb(202, 202, 195);
}

h2 {
    margin-left: 700px;
}

#portrait {
    height: 250px;
    width: 250px;
    margin-top: 70px;
    margin-left: 0%;
    border: 2px solid;
}

#tractor {
    height: 250px;
    width: 250px;
    margin-top: 70px;
    margin-left: 0%;
    border: 2px solid;
}

#home:hover {
    background-color: rgb(148, 76, 76);
    flex-direction: column;
    align-content: center;
    border: 1px solid rgb(230, 121, 121);
    vertical-align: middle;
}

#about:hover {
    background-color: rgb(148, 76, 76);
    flex-direction: column;
    align-content: center;
    border: 1px solid rgb(230, 121, 121);
    vertical-align: middle;
}

#portfolio:hover {
    background-color: rgb(148, 76, 76);
    flex-direction: column;
    align-content: center;
    border: 1px solid rgb(230, 121, 121);
    vertical-align: middle;
}

#p1 {
    display: block;
    background-color: rgb(218, 205, 175);
    font-style: italic;
    font-weight: bold;
    border: 2px solid;
    position: relative;
    margin: 250px;
    left: 400px;
    top: -480px;
    width: 500px;
}

#p2 {
    display: block;
    background-color: rgb(214, 209, 197);
    font-style: oblique;
    font-weight: bold;
    border: 2px solid;
    position: relative;
    margin: 250px;
    left: 400px;
    top: -650px;
    width: 500px;
}

#story {
    display: block;
    background-color: rgb(210, 186, 127);
    font-style: oblique font-weight: bold;
    border: 2px solid;
    position: relative;
    margin: 250px;
    left: -180px;
    top: -159px;
    width: 1500px;
}

#About_Me {
    background-color: rgb(210, 186, 127);
    font-style: oblique font-weight: bold;
    font: size 20px;
    border: 2px solid;
    position: relative;
    margin: 20px;
    left: 31%;
    top: 120px;
    width: 600px;
}

#linkedin {
    position: relative;
    height: 40px;
    width: 40px;
    top: 75px;
    left: -180px;
}

#google {
    position: relative;
    height: 40px;
    width: 40px;
    top: 75px;
    left: -180px;
}

.form1 {
    margin-top: -800px;
}

.Please {
    margin-left: 1%;
}

#HEADER:hover {
    background-color: rgb(187, 134, 134);
    position: relative;
    margin-right: 30%;
    align-content: center;
}

#Top_About {
    margin-left: 760px;
    margin-top: -300px;

}

.square {
    background-color: rgb(43, 122, 226);
    height: 110px;
    width: 110px;
    margin: 10px;
}

.circle {
    background-color: rgb(43, 122, 226);
    height: 110px;
    width: 110px;
    margin: 10px;
    border-radius: 100px;
}

#container {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 35%;
    z-index: 1;
}

#big_square {
    background-color: rgb(226, 165, 43);
    height: 310px;
    width: 310px;
    margin-top: -19%;
    margin-left: 41%;
    z-index: 2;
}

@media(max-width:1024px) {
    body {
        background-color: rgb(174, 174, 154);
    }
}